spacy
pandas
numpy
tqdm
scipy
progressbar2
fasttext-wheel
gensim
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.5.0/ru_core_news_sm-3.5.0-py3-none-any.whl
typer
rich
transformers
torch