{% extends 'base.html' %}

{% block title %} About {% endblock %}
{% block external_css %}
  <link href="../static/css/index.css" rel="stylesheet" />
{% endblock %}


{% block content %}
  <div class="home-container5">
    <h1 class="home-text2">Find Thesis.</h1>
  </div>
  <div class="home-container6">
    <span class="home-text3">
      Ищи, исследуй, вдохновляйся: поиск для тех, кто все еще не
      придумал свой диплом :)
    </span>
  </div>
  <div class="home-container7"></div>
  <div class="home-container8">
    <a href="/search" class="home-navlink2 button">
      Перейти к поиску
    </a>
  </div>
{% endblock %}